.input-wrapper {
  .label {
    margin: 0px;
    font-size: 16px;
    color: #2d2d2d;
    margin-bottom: 0px;
  }

  .input {
    border: 1px solid gray;
    outline: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
  }
}
