.blog-post {
  padding-top: 2em;
  .judul {
    font-size: 1.7em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 0.7em;
  }
  .btn-post {
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
  }
}
