.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(217, 24, 243);
  padding: 20px 40px;
  .logof {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  .sosial-wrap {
    display: flex;
    .icon-wrapper {
      background-color: white;
      padding: 10px;
      border-radius: 40px;
      margin: 0px 10px;
      .icon-img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }
}

.copy {
  background-color: rgb(195, 24, 218);
  padding: 10px 0px;
  p {
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
  }
}
